# Disease Medicine Recommendation - Python/ML Project
*.py linguist-detectable=true
*.ipynb linguist-language=Python
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.md linguist-documentation=true

# Mark dataset files as data
dataset/* linguist-vendored
*.csv linguist-vendored
